@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
.logo p{
    font-size: 25px;
    font-weight: 900;
}


.download-button button{
 
padding: 10px 20px 10px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 40px;
}

.banner{
    background-image: url(./assets/Hero-bg.png);
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-img{
    width: 170px;
    height: 220px;
   margin-bottom: 20px;
}
/* .banner-content{
   margin-bottom: 20px;
} */
 .banner-content h1 {
    margin-bottom: 20px;
 }
 .banner-content p {
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
 }
 .banner-content button {
    margin-bottom: 20px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
color: white;    
padding: 8px 20px 8px 20px;
 }

 /* why .why-development section */

 .why-development, .my-inspiration, .target, .next-target {
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
  
 }

 .why-development h2{
    padding: 20px 20px;
 }
/* .why-development */
 .why-development p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
 }

.development-1{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    padding-top: 40px;
}
.description{
    text-align: left;
    padding: 20px 20px;

}
.description h3{
    margin-bottom: 10px;
}
.description p{
    margin-bottom: 10px;
}

.development-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-top: 40px;
    flex-direction: row-reverse;
}

.learn-btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 8px 20px 8px 20px;
}

.video{
    overflow: hidden; 
    border-radius: 16px; 
    width: 652px; 
    height: 367px; 
    margin: 20px auto;
}

.my-inspiration h2{
    margin-bottom: 20px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}
.my-inspiration p{
margin-bottom: 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.card{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;

}
.language-1{
    
    text-align: left;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
padding: 20px;
    
}
.language-2{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 20px;
text-align: left;
}

.language-3{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
padding: 20px;
text-align: left;
}
.language-1 img, .language-2 img, .language-3 img{
    margin-bottom: 10px;
}
.language-1 h3, .language-2 h3, .language-3 h3{
    margin-bottom: 10px;
}
.language-1 p, .language-2 p, .language-3 p{
    margin-bottom: 10px;
}
.react{
    display: flex;
   padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 30px;
}
.react-card{
    text-align: left;
    margin-left: 10px;
}
.react-card h3{
    margin-bottom: 10px;
}
.react-card p{
    margin-bottom: 10px;
}
.react-card a{
    margin-bottom: 10px;
}
.support{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.9)
    
  
};


.input {
  
    padding-bottom: 30px; 
}
.input h2  {
    margin-bottom: 20px; 
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;

}
.input p {
    margin-bottom: 20px; 
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.input-field{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 12px 60px 12px 60px;
}
.submit{
    border-radius: 8px;
background: rgb(255, 255, 255);
padding: 12px 20px 12px 20px;
border: none;
}
   
.footer-container{
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);

}
